<%= turbo_stream_from @chat.stream_id %>

<div class="chat-container">
  <div class="chat-header">
    Apartment Assistant
  </div>
  <div class="chat-body" id="<%= @chat.messages_id %>" data-controller="scroll" data-scroll-container-id-value="<%= @chat.messages_id %>">
    <% @chat.messages.each do |message| %>
      <%= render partial: "chats/message", locals: { message: message } %>
    <% end %>
  </div>
  <div class="chat-footer">
      <%= render partial: "chats/form", locals: { chat: @chat } %>
  </div>
</div>