<%= turbo_stream_from @chat.stream_id %>

<button class="fixed bottom-4 right-4 inline-flex items-center justify-center text-sm font-medium disabled:pointer-events-none disabled:opacity-50 border rounded-full w-16 h-16 bg-black hover:bg-gray-700 m-0 cursor-pointer border-gray-200 bg-none p-0 normal-case leading-5 hover:text-gray-900" type="button" aria-haspopup="dialog" aria-expanded="false" data-state="closed">
  <svg xmlns=" http://www.w3.org/2000/svg" width="30" height="40" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="text-white block border-gray-200 align-middle">
    <path d="m3 21 1.9-5.7a8.5 8.5 0 1 1 3.8 3.8z" class="border-gray-200">
    </path>
  </svg>
</button>

<div style="box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);" class="fixed bottom-[calc(4rem+1.5rem)] right-0 mr-4 bg-white p-6 rounded-lg border border-[#e5e7eb] w-[440px] h-[664px]"  data-action="turbo:frame-render@window->scroll#scrollToBottom" data-controller="scroll" data-scroll-container-id-value="<%= @chat.messages_id %>">

  <div class="flex flex-col space-y-1.5 pb-6 border-b border-[#e5e7eb]">
    <h2 class="font-semibold text-lg tracking-tight">Chat with <%= @chat.agent.name %></h2>
  </div>

  <div class="pr-4 h-[474px] overflow-y-auto" id="<%= @chat.messages_id %>">
    <% @chat.messages.each do |message| %>
      <%= render partial: "chats/message", locals: { message: message } %>
    <% end %>
  </div>
  <!-- Input box  -->
  <div class="flex items-center pt-4">
    <%= render partial: "chats/form", locals: { chat: @chat } %>
  </div>
</div>